# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# NetBeans files
nbproject/

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

# Legacy ZF1
demos/
extras/documentation

.vagrant/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
#phpunit.xml
